@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.header {
  height: 12vh;
  width: 100vw;
  background-color: $primary;
  //padding: 0 $padding-layout;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vw;

  &__left {
    display: flex;
    align-items: center;
    a {
      color: white;
      text-decoration: none;
    }
    & * {
      font-size: 0.8rem;
      &:not(:first-child) {
        padding-left: 1rem;
      }
    }
  }
  &__right {
    & * {
      font-size: 0.8rem;
      &:not(:last-child) {
        padding-right: 1rem;
      }
      &:last-child {
        padding-right: 4vw;
      }
    }
  }
}
