.group-items {
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: space-between;
  padding: 1vw 3vw;
  border-radius: 6px;
}

.group__container {
  &--title {
    margin-left: 3vw;
    margin-top: 1vw;
  }
  box-shadow: -1px -3px 16px 0px #8585858f;
}
